<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Filmes</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <h1>Minha Lista de Filmes Favoritos</h1>

        <!-- Formulário para selecionar um filme -->
        <form id="movieForm">
            <div class="form-group">
                <label for="movieSelect">Selecione um filme:</label>
                <select id="movieSelect" class="form-control" name="movieName">
                    <!-- Opções de filmes serão preenchidas dinamicamente pelo JavaScript -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </form>

        <!-- Tabela para exibir informações do filme selecionado -->
        <h2>Filme Selecionado</h2>
        <table id="movieInfo" class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ano de Lançamento</th>
                    <th>Diretor</th>
                </tr>
            </thead>
            <tbody>
                <!-- As informações do filme serão preenchidas dinamicamente pelo JavaScript -->
            </tbody>
        </table>
    </div>

    <!-- Inclua o seu script.js aqui -->
    <script src="/FrontEnd/js/script.js"></script>
 
</body>
</html>